body{ font-family:"宋体"; font-size:12px; margin:0px; padding:0px; color:#333333;}
div,ul,li,h1,h2,h3,h4,h5.h6,img,p,dl,dt,dd,ol,th,td{ margin:0px; padding:0px;}
li{ list-style-type:none;}
form,input,button,option,textarea,select{ margin:0px; padding:0px;}
input,button,option,textarea,select{ font:100% Tahoma,Helvetica,Arial,sans-serif;}
a{ color:#333333; text-decoration:none;}
a:link{ text-decoration:none;}
a:visited{ text-decoration:none;}
a:hover{ text-decoration:underline;}
a:active{ text-decoration:none;}
img{ border:0px;}
/*弹出窗口全局样式*/
.popWarp{background:#111;-moz-opacity: 0.5;opacity:0.5;filter: alpha(opacity=50);position:absolute;z-index:1200;}
.popWin{display:none; width:415px; background:#E4E4E4; padding:5px; position:absolute; left:40%; top:20%; z-index:1280;}
.popWin .popbox{ background:#fff; border:#C4C4C4 1px solid; padding:0 4px 13px 4px;}
.popWin .popbox h3{ height:36px; border-bottom:#47B030 1px solid; font-size:14px; line-height:36px; padding:0 8px; color:#000;background: #fff;}
.popWin .popbox h3 b{ float:left;}
.popWin .popbox h3 span{ float:right; font-weight:100; cursor:pointer;}
.popWin .popbox ul{ padding:44px 0 10px 67px;}
.popWin .popbox ul li{ margin-bottom:16px;}
.popWin .popbox ul li span{ line-height:25px; float:left; display:block;}
.popWin .popbox ul li input{ width:151px; height:20px; border:#8E9BA3 1px solid; line-height:20px;}
.popWin .popbox ul li.button{ padding:36px 15px 0 0;}
.popWin .popbox ul li.button input{ width:78px; height:28px; background:#87BC48; border:#4D8B02 1px solid; float:right; color:#fff; font-size:14px; cursor:pointer; margin-right:15px;}
